@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.font-logo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@theme {
  --color-primary: #121212;
  --color-primary-text: #e0e0e0;
  --color-secondry-text: #b0b0b0;
  --color-accent-color: #888888;
  --color-aura: var(--color-red-500);
}
body {
  @apply bg-primary;
  font-family: "Manrope", "Poppins", "DM Sans", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}
* {
  scrollbar-width: thin; /* Options: auto | thin | none */
  scrollbar-color: white transparent;
}
.icon {
  @apply text-aura text-3xl;
}
